<div>
  <img class="breakpig money" src="assets/img/alcancia/pigmoney.png" alt="" style="display: none;">
  <img class="breakpig frontpig" src="assets/img/alcancia/pigfront.png" alt="" style="display: none;" >
  <img class="breakpig backpig" src="assets/img/alcancia/pigback.png" alt="" style="display: none;" >
  <img id="pig" src="assets/img/alcancia/cerdofeliz.png" alt="" class="animate__animated">
  <img id="hammer" src="assets/img/alcancia/martillo.png" alt="" style="display: none;">
  <div class="mountPig">
    <p></p>
  </div>
  <div class="containerfence">
    <div class="gridImages d-flex justify-content-between">
      <div class="fence"><img id="fence" src="assets/img/valla/valla.png" alt="">  </div>
    </div>
  </div>
  <div class="containerwhiteribbon">
    <div class="gridImages d-flex justify-content-between">
      <div class="ribbon">
        <img id="ribbon" src="assets/img/valla/cinta.png" alt="" class="cinta">
        <p class="mount">Debo Ahorrar<br />Bs. <span></span></p>
      </div>
    </div>
  </div>
  <div class="imgAvatar" style="display: none;"></div>
  <div id="Cards"></div>
  <div id="Roulette"></div>
  <div id="ModalBg" style="display: none;"></div>
</div>
