<div class="containerStore">
  <div class="containerselectStore">
    <div class="gridImages d-flex justify-content-between">
      <div class="premio disabled" data-id="bici" onclick="awardsActive(this)"><img src="assets/images/bicicleta.png" alt="4800"></div>
      <div class="premio disabled" data-id="dog" onclick="awardsActive(this)"><img src="assets/images/perro.png" alt="2500"></div>
      <div class="premio disabled" data-id="laptop" onclick="awardsActive(this)"><img src="assets/images/laptop.png" alt="5000"></div>
      <div class="premio disabled" data-id="phone" onclick="awardsActive(this)"><img src="assets/images/cel.png" alt="3000"></div>
    </div>
  </div>
  <div class="continerPrice d-flex justify-content-around"></div>
  <div class="spare">
    <p class="negrita">Monto ahorrado: </p>
      <div class="mount">
        <p></p>
      </div>
  </div>
  <div class="box">
     <div class="positivemessage">
       <p class="negrita" ></p>
     </div>
  </div>
  <div class="playbutton">
    <button onclick="newGame()">
      <img src="assets/img/icon_play.png" alt="">
      Continuar jugando
    </button>
 </div>
 <img src="assets/img/nubes/nube2.png" alt="" class="btnNextGame">
 <div class="imgAvatar" style="display: none;"></div>
</div>
