<div class="containerStore">
  <div class="containerselectStore">
    <div class="gridImages d-flex justify-content-between">
      <div data-value="1" onclick="awardsActive(this)"><img src="assets/images/bicicleta.png" alt="4800"></div>
      <div data-value="2" onclick="awardsActive(this)"><img src="assets/images/perro.png" alt="2500"></div>
      <div data-value="3" onclick="awardsActive(this)"><img src="assets/images/laptop.png" alt="5000"></div>
      <div data-value="4" onclick="awardsActive(this)"><img src="assets/images/cel.png" alt="3000"></div>
    </div>
  </div>
  <div class="continerPrice d-flex justify-content-around">
    <p>Bs. 4.800.000</p>
    <p>Bs. 2.500.000</p>
    <p>Bs. 5.000.000</p>
    <p>Bs. 3.000.000</p>
  </div>
  <div class="spare">
    <p class="negrita"> Monto ahorrado: </p>
      <div class="mount">
        <p></p>
      </div>
  </div>
  <div class="box">
     <div class="positivemessage">
       <p class="negrita" ></p>
     </div>
  </div>
  <div class="imgAvatar" style="display: none;"></div>
  <div class="playbutton">
    <button onclick="newGame()">
        <img src="assets/img/icon_play.png" alt="">
        Continuar jugando
    </button>
 </div>
 <div class="imgAvatar" style="display: none;"></div>
</div>
